#body {
    padding-top: 10px;
}

.navbar {
    background-color: white;
    border: 0;
    margin-bottom: 20px;
}

.navbar .container {
    background-color: #008a00;
    background-image: -moz-linear-gradient(top, #00008a, #00006b);
    background-image: -ms-linear-gradient(top, #00008a, #00006b);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#00008a), to(#00006b));
    background-image: -webkit-linear-gradient(top, #00008a, #00006b);
    background-image: -o-linear-gradient(top, #00008a, #00006b);
    background-image: linear-gradient(top, #00008a, #00006b);
}

.navbar .navbar-brand {
    color: white;
}

.navbar .navbar-brand:hover {
    color: white;
}

.btn {
    background-color: white;
}

.icon-white {
    color: white;
}
